.table-container {
  overflow-x: auto;
  width: 90vw;
  height: 84vh;
  margin-bottom: 60px;
  border-radius: 20px;
  background-color: #c1c1c1;
  box-shadow: 20px 20px 60px
  #00000069,inset -20px -20px
  60px #616a99;
}

.match-card, td, th {
  background-color: #c1c1c1;
  box-shadow: 20px 20px 60px
  #00000069,inset -20px -20px
  60px #b9bfdb;
}

th {
  box-shadow: 20px 20px 60px
  #00000069,inset -20px -20px
  60px #616a99;
}

.header {
  min-width: 90px;
}

.id-column {
  font-weight: 500;
}

.to-center {
  text-align: center;
  min-width: 20px;
}
