.table-container {
  overflow-x: auto;
  width: 375px;
  height: fit-content;
  margin-bottom: 20vh;
  border-radius: 20px;
  background-color: #c1c1c1;
  box-shadow: 20px 20px 60px
  #00000069,inset -20px -20px
  60px #616a99;
}

.match-card, td, th {
  background-color: #c1c1c1;
  box-shadow: 20px 20px 60px
  #00000069,inset -20px -20px
  60px #b9bfdb;
  text-align: center;
}

th {
  box-shadow: 20px 20px 60px
  #00000069,inset -20px -20px
  60px #616a99;
}
